body {
    margin: 0%;
    box-sizing: border-box;
    background-color: aquamarine;
}
.container {
    max-width: 500px;
    width: 80%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 10px solid white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.list-container {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding: 0%;
}

.list-item {
    display: block;
    font-size: 1.7rem;
    padding: 0.6em 0.8em;
    margin: 0.2em;
    background-color: azure;
}


